.request {
  padding: 38px 0 88px;
  &__block {
    display: flex;
    padding: 90px 22px 90px 90px;
    background-color: #FBFBFB;
    border-radius: 20px;
    column-gap: 70px;
  }
  &__text {
    @include fonts(normal, normal, 16px, 19px);
    color: #A6A6A6;
    margin-bottom: 5px;
  }
  &__title {
    @include fonts(normal, normal, 61px, 73px);
  }
  &__descr {
    @include fonts(normal, normal, 16px, 24px);
    margin: 23px 0 16px;
  }
}
